body{
	height: 2300px;

	font-family: Verdana, helvetica, sans-serif;
	background-image: url("../images/Sierra_Nevadas_Keith_cropped.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

header{
	position: fixed;
	top: 10px;
	left: 10px;
	width: 96%;
	height: 50px;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: rgba(38,38,38,0.5);
	/* rgba(1,78,254,0.5); */
	padding: 0 1%;
}

h1{
	margin: 15px 0;	
	color: #fff;
	float: left;
	font-size: 1.5em;
	width: 400px;
}

footer {
	background-image: url("../images/Sierra_Nevadas_Keith_Large_Bottom.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	height:87px;
	color: #fff;
	padding: 1%;
}

/** Social Icons **/

.socialIcons {
	float: right;
	height: 40px;
	width: 80px;
	font-size: 2.5em;
	margin: 6px 3px;
}

.socialIcons i {
	position: relative;
	color: #E6E6E6;
}

.socialIcons i:hover{
	color: #fff;
	-webkit-animation: jump 1s;
	animation: jump 1s;
}

#github {
	float: left;
}

#linkedin {
	float: right;
}

@-webkit-keyframes jump {
	0% {top: 0;}
	50% {top: -5px;}
	100% {top: 0;}
}

@keyframes jump {
	0% {top: 0;}
	50% {top: -5px;}
	100% {top: 0;}
}

/* Computer Icons */

#desktop {
	margin: 50px 0 0 -10px;
	float: left;
}

#screensIcon {
	margin: 63px 7px 0 0;
	float: right;
}

/* Top View Boxes */

#languages, #frameworks {
	display: none;
}

#upperBox {
	margin: 110px auto 0;
	height: 200px;
	background-color: #E6E6E6;
	width: 620px;
	display: none;
	position: relative;
	z-index: -2;
	border: 1px solid #000;
	border-bottom: none;
	padding: 0 5px;
}

#center {
	margin: 320px auto 0;
	width: 330px;
	height: 182px;
	position: relative;
	font-size: 1.25em;
}

#photoBox {
	height: 0px;
	width: 320px;
	border: 1px solid #000;
	border-bottom: none;
	background-color: #E6E6E6;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 5px 5px;
}

#photoBox img {
	display: none;
	width: 300px;
	margin: 0 auto;
	border: 1px solid #000;
	border-radius: 5px;
}

/* #photoCircle {
	height: 170px;
	width: 170px;
	border: 1px solid #000;
	border-radius: 100px;
	background-color: #eee;
	margin: 10px auto;
	position: relative;
	z-index: -1;
} */

#infoBox {
	height: 180px;
	width: 320px;
	border: 1px solid #000;
	/* background-color: #ccc; */
    background: -webkit-linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* Standard syntax */
	/* 79,94,92 */
	/* 38, 38, 38 */
	z-index: 100;
	padding: 5px 5px;
	
}

#infoBox li, #infoBox p {
	padding: 5px 0;
}

/* #infoBox p:hover {
	background-color: #fff;
	border-left: 5px solid #014EFE;
} */

#leftBox {
	height: 179px;
	width: 140px;
	/* background-color: #fff; */
	background: -webkit-linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* Standard syntax */
	border: 1px solid #000;
	border-right: none;
	z-index: -1;
	padding: 5px 5px;
	position: absolute;
	top: 0;
	left: 0;
}

#rightBox {
	height: 179px;
	width: 140px;
	/* background-color: #fff; */
	background: -webkit-linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(230,230,230), rgb(51,102,153)); /* Standard syntax */
	border: 1px solid #000;
	border-left: none;
	z-index: -1;
	padding: 5px 5px;
	position: absolute;
	top: 0;
	left: 0;
}

#leftBox li {
	padding: 13px 0;
}

#rightBox li {
	padding: 7px 0;
}

.larger {
	text-align: center;
	font-size: 1.25em;
}

.italics {
	font-style: italic;
}

#title {
	margin: 5px 10px;
	text-align: justify;
}

/* Animated Cursor */

.typed-cursor{
    opacity: 1;

    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Down Button */

#firstDown {
	margin: 80px auto 0;
}

#firstDown, #secondDown, #thirdDown, #fourthDown {
	display: block;	
	font-size: 4em;
	color: #fff;
	text-align: center;
	opacity: .75;
	width: 55px;

}

#firstDown, #secondDown, #fourthDown {
	color: #fff;
}

#thirdDown {
	color: #000;
}

#secondDown {
	margin: 50px auto 0;
}

#thirdDown, #fourthDown {
	margin: 0 auto;
}

#firstDown:hover, #secondDown:hover, #thirdDown:hover, #fourthDown:hover {
	opacity: 1;
}

/* Portfolio IDs */

#ecommerce {
	margin: 30px 0 0 0;
	height: 670px;
	width: 100%;
	background-color: #336699;
}

#elearning {
	height: 670px;
	width: 100%;
	background-color: #E6E6E6;
}

#responsive {
	margin: 0;
	height: 670px;
	width: 100%;
	background-color: #336699;
}

#socialnetworking {
	height: 660px;
	width: 100%;
	background-color: #E6E6E6;
}

/** Portfolio Classes **/

.browserBox {
	
	height: 505px;
	width: 55%;
}

.browserBox img {
	width: 100%;
}

.browserHead {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-radius: 5px 5px 0 0;
}

.screenshot {
	width: 100%;
	margin: -3px 0;	
}

.screenshot img {
	/* width: 99.7%; */
	border: 1px solid #000;
	border-top: none;
	border-radius: 0 0 4px 4px;
}

.description {
	margin: 52px 1.5% 0;
	height: 450px;
	width: 37%;
	padding: 1%;
}

.left {
	float: left;
}

.leftMargin {
	margin: 80px 0 0 30px;
}

.right {
	float: right;
}	

.rightMargin {
	margin: 80px 30px 10px 0;
}

#socialBox {
	margin: 70px 30px 10px 0;
}

.white {
	color: #fff;
}

.orange {
	color: #E65500;
}

.blue {
	color: #336699;
}

.clear {
	clear: both;
}

.description h2 {
	font-size: 3em;
}

.description hr {
	/* width: 220px; */
	color: #655CA9;
	margin: 10px 0;
}

.description h3 {
	font-size: 2em;
	margin: 0 0 10px 0;
}

.description p {
	text-align: justify;
}

.description span{
	font-weight: bold;
}

.description ul {
	margin: 10px 20px;
}

.description ul li{
	padding: 5px;
	list-style-type: disc;
}

/* See Site Button */

.seeSiteAnchor {
	color: #000;
	text-decoration: none;
}

.seeSiteAnchor:hover {
	color: #fff;
}

button.seeSite {
  background-color: #52a8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52a8e8), color-stop(100%, #377ad0));
  background-image: -webkit-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -moz-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -ms-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -o-linear-gradient(top, #52a8e8, #377ad0);
  background-image: linear-gradient(top, #52a8e8, #377ad0);
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  border-radius: 16px;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #fff;
  font: normal 1.4em "lucida grande", sans-serif;
  line-height: 1.1;
  padding: 3px 5px;
  display: block;
  margin: 40px auto;
  text-align: center;
  width: 112px;
  -webkit-background-clip: padding-box;
}

  button.seeSite:hover {
    background-color: #3e9ee5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9ee5), color-stop(100%, #206bcb));
    background-image: -webkit-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: -ms-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: -o-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    border-top: 1px solid #2a73a6;
    border-right: 1px solid #165899;
    border-bottom: 1px solid #07428f;
    border-left: 1px solid #165899;
    -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
    -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
    box-shadow: inset 0 1px 0 0 #62b1e9;
    cursor: pointer;
    text-shadow: 0 -1px 1px #1d62ab;
    -webkit-background-clip: padding-box;
}
