<!doctype html ng-app="gardensApp">
<html ng-app="gardensApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>Sunnyside Gardens</title>

    <link href="styles/style.css" rel="stylesheet">
    
  </head>

  <body>
    
    <header>
      <div class="layout">
          <h1>Sunnyside Gardens</h1>
      </div>
    </header>
    
    <div class="layout" ng-controller="IndexController">
      <div ng-show="main()" ng-controller="MainController">
        <div id="leftColumn" class = "left">
          <form>
            <p id="searchBy">Search by</p>
            
            <div>
              <button type="button"><span>Search by </span>Name</button>
              <input type="text" ng-model="productSearch.name">
            </div>
           
            <div>
              <button type="button"><span>Search by </span>Type</button>
              <input type="text" ng-model="productSearch.type">
            </div>
            
            <div>
              <button type="button"><span>Search by </span>Family</button>
              <input type="text" ng-model="productSearch.family">
            </div>
            
            <div>
              <button type="button"><span>Search by </span>Foliage</button>
              <input type="text" ng-model="productSearch.foliage">
            </div>
           
            <div>
              <button type="button"><span>Search by </span>Flower Color</button>
              <input type="text" ng-model="productSearch.color">
            </div>
        
            <div>
              <button type="button"><span>Search by </span>Amount of Sun</button>
              <input type="text" ng-model="productSearch.amountOfSun">
            </div>

            <div>
              <button type="button" ng-click="reset()" ng-show="productSearch.name.length || productSearch.type.length || productSearch.family.length || productSearch.foliage.length || productSearch.color.length || productSearch.amountOfSun.length">
                Reset Search
              </button>
            </div>
                
          </form>

          <br>
          <hr>
          
          <div ng-show = "browserSizeBig()">
            <ga-cart></ga-cart>
          </div>
         
          <div ng-hide = "browserSizeBig() || browserSizeSmall()">
            <ga-view-cart-button></ga-view-cart-button>
          </div>

        </div>


        <div id="rightColumn" class="left">
          <div id="searchShow" ng-show="productSearch.name.length || productSearch.type.length || productSearch.family.length || productSearch.foliage.length || productSearch.color.length || productSearch.amountOfSun.length ">
            
            <p>
              Showing results for: 
                <strong ng-bind="productSearch.name">  </strong>
                <strong ng-bind="productSearch.type">  </strong>
                <strong ng-bind="productSearch.family">  </strong>
                <strong ng-bind="productSearch.foliage">  </strong>
                <strong ng-bind="productSearch.color">  </strong>
                <strong ng-bind="productSearch.amountOfSun">  </strong>
                
            </p>
           
          </div>
          
          <div id="plantGallery">
            <div id="plantList" class="left" ng-repeat="plant in plants | filter:productSearch | orderBy:'name'">

              <div class="plantCard">
                <div class="plantHeader" ng-class="{veggieColor: plant.type=='vegetable', herbColor: plant.type=='herb', flowerColor: plant.type=='flower', fruitColor: plant.type=='fruit'}">
                  <div class = "left" ng-bind="plant.name"></div>

                  <div class = "right" ng-bind="plant.price | currency"></div>
                </div>
                
                <img ng-src="{{plant.thumbnail}}" alt = "{{plant.title}}">

                <button class="cartButton" type="button" ng-click="addItem(plant)" ng-class="{veggieColor: plant.type=='vegetable', herbColor: plant.type=='herb', flowerColor: plant.type=='flower', fruitColor: plant.type=='fruit'}">Add to Cart</button>

                <!-- <ga-add-cart-button plant = "plant"></ga-add-cart-button> -->
              
              </div>
                
              <div class = "viewButtonBelowCard" ng-show = "browserSizeSmall()">
                <ga-view-cart-button></ga-view-cart-button>
              </div>

            </div>
          </div>

        </div>

        <div class="clear"></div>
      </div>

      <div class="layout" ng-hide="main()" ng-controller="ShoppingCartController">
        <h2>Shopping Cart</h2>
        <hr>
        <ga-cart></ga-cart>
        <br>
        <br>
        <button type="button" ng-click="toggle()">Return to Shopping</button>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>

    <script>

      var app = angular.module('gardensApp', []);

      var plants =  
    [
      {
        "id": 0,
        "guid": 123,
        "price": 1.99,
        "picture": "",
        "thumbnail": "images/basil.jpg",
        "inventory": 15,
        "name": "basil",
        "type": "herb",
        "family": "mint",
        "foliage": "green",
        "amountOfSun": "full"
      },

      {
        "id": 1,
        "guid": 456,
        "price": 2.99,
        "picture": "",
        "thumbnail": "images/cherry_tomato.jpeg",
        "inventory": 30,
        "name": "cherry tomato",
        "type": "vegetable",
        "family": "nightshade",
        "foliage": "green",
        "amountOfSun": "full"
      },  

      {
        "id": 2,
        "guid": 789,
        "price": 2.99,
        "picture": "",
        "thumbnail": "",
        "inventory": 30,
        "name": "strawberry",
        "type": "fruit",
        "family": "rose",
        "foliage": "green",
        "color": "white",
        "amountOfSun": "full"
      },

      {
        "id": 3, 
        "guid": 135,
        "price": 1.99,
        "picture": "",
        "thumbnail": "images/bee_balm.jpg",
        "inventory": 5,
        "name": "bee balm",
        "type": "flower",
        "family": "mint",
        "foliage": "green",
        "color": "red",
        "amountOfSun": "partial"
      },

      {
        "id": 4,
        "guid": 680,
        "price": 1.99,
        "picture": "",
        "thumbnail": "",
        "inventory": 5,
        "name": "sweet woodruff",
        "type": "herb",
        "family": "bedstraw",
        "foliage": "green",
        "color": "white",
        "amountOfSun": "minimal"
      },

      {
        "id": 5,
        "guid": 205,
        "price": 1.99,
        "picture": "",
        "thumbnail": "",
        "inventory": 15,
        "name": "red-leaf lettuce",
        "type": "vegetable",
        "family": "sunflower",
        "foliage": "red",
        "amountOfSun": "partial"
      },

      {
        "id": 6,
        "guid": 237,
        "price": 3.99,
        "picture": "",
        "thumbnail": "images/blueberry.jpg",
        "inventory": 7,
        "name": "blueberry",
        "type": "fruit",
        "family": "heather",
        "foliage": "green",
        "amountOfSun": "full"
      },

      {
        "id": 7,
        "guid": 945,
        "price": 1.99,
        "picture": "",
        "thumbnail": "",
        "inventory": 6,
        "name": "purple basil",
        "type": "herb",
        "family": "mint",
        "foliage": "purple",
        "amountOfSun": "full"
      },

      {
        "id": 8,
        "guid": 349,
        "price": 2.99,
        "picture": "",
        "thumbnail": "",
        "inventory": 20,
        "name": "zucchini",
        "type": "vegetable",
        "family": "gourd",
        "foliage": ":green",
        "color": "yellow",
        "amountOfSun": "full"
      },

      {
        "id": 9,
        "guid": 248,
        "price": 2.99,
        "picture": "",
        "thumbnail": "",
        "inventory": 20,
        "name": "watermelon",
        "type": "fruit",
        "family": "gourd",
        "foliage": "green",
        "amountOfSun": "full"
      },

      {
        "id": 10,
        "guid": 931,
        "price": 0.99,
        "picture": "",
        "thumbnail": "",
        "inventory": 8,
        "name": "sunflower",
        "type": "flower",
        "family": "sunflower",
        "foliage": "green",
        "color": "yellow",
        "amountOfSun": "full"
      },

      {
        "id": 11,
        "guid": 664,
        "price": 1.99,
        "picture": "",
        "thumbnail": "images/borage_crop.jpg",
        "inventory": 5,
        "name": "borage",
        "type": "herb",
        "family": "forget-me-not",
        "foliage": "green",
        "color": "blue",
        "amountOfSun": "partial"
      },

      {
        "id": 12,
        "guid": 777,
        "price": 2.99,
        "picture": "",
        "thumbnail": "images/lavender_bigger.jpg",
        "inventory": 22,
        "name": "lavender",
        "type": "flower",
        "family": "mint",
        "foliage": "grey green",
        "color": "purple",
        "amountOfSun": "full"
      }

    ];

    </script>

    <script type="text/ng-template" id="cart.html">

      <div ng-show = "getItemCount()">
        <table>
          <thead>
            <tr>
              <th>Plant</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr id="plantRows" ng-repeat="item in items">

              <td ng-bind="item.name"></td>
              <td ng-bind="item.quantity">
                  /*<input type="text" ng-model="item.quantity">*/
              </td>
              <td>{{item.price | currency}}</td>
              <td>{{item.price * item.quantity | currency}}</td>
              <td>
                <button type="button" ng-click="removeItem(item.guid)">
                  Remove
                </button>
              </td>
            </tr>
            
            <tr id="totalRow">
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              
              <td>
                <p><strong>Total</strong></p>
              </td>
              <td>
                <p><strong>{{cartTotal() | currency}}</strong></p>
              </td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
            
          <button type="button" ng-click="emptyCart(); resetCart()">
              Empty Cart
          </button>
             
      </div>

    </script>

    <script src = "scripts/controllers/cart-controller.js"></script>
    <script src = "scripts/controllers/index-controller.js"></script>
    <script src="scripts/controllers/main-controller.js"></script>

    <script src="services/cart-service.js"></script>
    <!-- <script src="services/plant-service.js"></script> -->
    
    <script src = "directives/add-cart-button-directive.js"></script>
    <script src = "directives/cart-directive.js"></script>
    <script src = "directives/more-information-directive.js"></script>
    <script src = "directives/view-cart-button-directive.js"></script>

  </body>
</html>
