.feedEkList {
	width:100%;
	list-style:none outside none;
	background-color:#FFFFFF;
	/* border:1px solid #D3CAD7;
	padding:4px 6px;
	color:#3E3E3E; */
	-webkit-padding-start: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(2,87,151);
}

.feedEkList li{
	padding: 0;
}

.feedEkList li:last-child{
	border-bottom:none;
}

.itemTitle a{
	font-weight:bold;
	color: rgb(2,87,151) !important;
	text-decoration:none 
}

.itemTitle a:hover{
	text-decoration:underline
}

.itemDate{
	font-size:11px;
	color:#AAAAAA;
} 