/* reset */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*SASSy variables */
/* SASSy mixins */
/* for column widths and padding */
/* for adjustments based on the size of the browser window */
/* for gradients */
/* SASSy directives */
/* for header font-sizes */
h1 {
  font-size: 3em; }
  @media only screen and (max-width: 1170px) {
    h1 {
      font-size: 2.75em; } }

h2 {
  font-size: 2em; }
  @media only screen and (max-width: 1170px) {
    h2 {
      font-size: 1.75em; } }

h3 {
  font-size: 1.5em; }
  @media only screen and (max-width: 1170px) {
    h3 {
      font-size: 1.25em; } }

/* for the styling of the paintings */
.vanGogh {
  background-image: url("../images/vanGoghPainting.jpg");
  max-width: 100%;
  min-height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  float: right;
  margin: 14px auto 0;
  width: 58.33333%;
  padding: 1%; }
  @media only screen and (max-width: 1050px) {
    .vanGogh {
      width: 50%;
      padding: 1%; } }
  @media only screen and (max-width: 845px) {
    .vanGogh {
      width: 58.33333%;
      padding: 1%; } }
  @media only screen and (max-width: 700px) {
    .vanGogh {
      clear: right;
      min-height: 540px;
      width: 100%;
      padding: 1%; } }
  @media only screen and (max-width: 640px) {
    .vanGogh {
      clear: right;
      min-height: 475px; } }
  @media only screen and (max-width: 530px) {
    .vanGogh {
      min-height: 400px; } }
  @media only screen and (max-width: 460px) {
    .vanGogh {
      min-height: 350px; } }
  @media only screen and (max-width: 360px) {
    .vanGogh {
      min-height: 260px; } }

.renoir {
  background-image: url("../images/renoirPainting.jpg");
  max-width: 100%;
  min-height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  float: right;
  margin: 14px auto 0;
  width: 58.33333%;
  padding: 1%; }
  @media only screen and (max-width: 1050px) {
    .renoir {
      width: 50%;
      padding: 1%; } }
  @media only screen and (max-width: 845px) {
    .renoir {
      width: 58.33333%;
      padding: 1%; } }
  @media only screen and (max-width: 700px) {
    .renoir {
      clear: right;
      min-height: 540px;
      width: 100%;
      padding: 1%; } }
  @media only screen and (max-width: 640px) {
    .renoir {
      clear: right;
      min-height: 475px; } }
  @media only screen and (max-width: 530px) {
    .renoir {
      min-height: 400px; } }
  @media only screen and (max-width: 460px) {
    .renoir {
      min-height: 350px; } }
  @media only screen and (max-width: 360px) {
    .renoir {
      min-height: 260px; } }

.david {
  background-image: url("../images/davidPainting.jpg");
  max-width: 100%;
  min-height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  float: right;
  margin: 14px auto 0;
  width: 58.33333%;
  padding: 1%; }
  @media only screen and (max-width: 1050px) {
    .david {
      width: 50%;
      padding: 1%; } }
  @media only screen and (max-width: 845px) {
    .david {
      width: 58.33333%;
      padding: 1%; } }
  @media only screen and (max-width: 700px) {
    .david {
      clear: right;
      min-height: 540px;
      width: 100%;
      padding: 1%; } }
  @media only screen and (max-width: 640px) {
    .david {
      clear: right;
      min-height: 475px; } }
  @media only screen and (max-width: 530px) {
    .david {
      min-height: 400px; } }
  @media only screen and (max-width: 460px) {
    .david {
      min-height: 350px; } }
  @media only screen and (max-width: 360px) {
    .david {
      min-height: 260px; } }

.raphael {
  background-image: url("../images/raphaelPainting.jpg");
  max-width: 100%;
  min-height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  float: right;
  margin: 14px auto 0;
  width: 58.33333%;
  padding: 1%; }
  @media only screen and (max-width: 1050px) {
    .raphael {
      width: 50%;
      padding: 1%; } }
  @media only screen and (max-width: 845px) {
    .raphael {
      width: 58.33333%;
      padding: 1%; } }
  @media only screen and (max-width: 700px) {
    .raphael {
      clear: right;
      min-height: 540px;
      width: 100%;
      padding: 1%; } }
  @media only screen and (max-width: 640px) {
    .raphael {
      clear: right;
      min-height: 475px; } }
  @media only screen and (max-width: 530px) {
    .raphael {
      min-height: 400px; } }
  @media only screen and (max-width: 460px) {
    .raphael {
      min-height: 350px; } }
  @media only screen and (max-width: 360px) {
    .raphael {
      min-height: 260px; } }

/* main tags */
body {
  font-family: Verdana, helvetica, sans-serif; }

header {
  height: 100px;
  border: 1px solid #000;
  padding: 1%;
  background-color: #B6AEDE;
  /* Fallback Color */
  background: -webkit-linear-gradient(left, #B6AEDE, #94A9D4);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #B6AEDE, #94A9D4);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #B6AEDE, #94A9D4);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #B6AEDE, #94A9D4);
  /* Standard syntax */ }
  @media only screen and (max-width: 1170px) {
    header {
      height: 80px; } }

h1 {
  padding-left: 1%; }

h2, h3 {
  text-align: center; }

article {
  width: 66.66667%;
  padding: 1%;
  border: 1px solid #000;
  float: left;
  height: 100%;
  background-color: #C7DDF3; }
  @media only screen and (max-width: 1170px) {
    article {
      width: 75%;
      padding: 1%; } }
  @media only screen and (max-width: 1050px) {
    article {
      clear: left;
      height: auto;
      width: 100%;
      padding: 1%; } }
  article .about {
    float: left;
    width: 41.66667%;
    padding: 1%;
    text-align: justify; }
    @media only screen and (max-width: 700px) {
      article .about {
        clear: left;
        width: 100%;
        padding: 1%; } }

aside {
  width: 33.33333%;
  padding: 1%;
  float: right;
  border: 1px solid #000;
  text-align: justify;
  height: 100%;
  background-color: #94A9D4; }
  @media only screen and (max-width: 1170px) {
    aside {
      width: 25%;
      padding: 1%; }
      aside .toBeCut {
        display: none; } }
  @media only screen and (max-width: 1050px) {
    aside {
      clear: right;
      height: auto;
      width: 100%;
      padding: 1%; }
      aside .toBeCut {
        display: block; } }

li {
  list-style: none;
  padding: 5px 0; }

footer {
  background-color: #B6AEDE;
  /* Fallback Color */
  background: -webkit-linear-gradient(left, #B6AEDE, #94A9D4);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #B6AEDE, #94A9D4);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #B6AEDE, #94A9D4);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #B6AEDE, #94A9D4);
  /* Standard syntax */
  font-weight: bold;
  border: 1px solid #000;
  height: 80px; }
  footer p {
    padding: 0 1% 1%; }
  @media only screen and (max-width: 470px) {
    footer {
      font-size: .9em; } }

/* IDs */
#container {
  height: 1950px; }

/* Classes */
.layout {
  width: 90%;
  margin: 0 auto; }
  @media only screen and (max-width: 1050px) {
    .layout {
      width: 100%; } }

.bold {
  font-weight: bold; }

.clear {
  clear: both; }

/*# sourceMappingURL=style.css.map */
