header {
	margin-top: 30px;
}

hr {
	background-color: rgb(0,96,157);
	height: 3px;
	width: 99%;
	margin: 1px auto;
}

/* IDs */

#container {
	width: 80%;
	margin: 0 auto;
}

#projectsDiv {
	margin: 5px auto;
	width: 960px;
	height: 265px;
	background-color: #eee;
}

#socialNet {
	background-color: blue;
}

#eLearning {
	background-color: yellow;
}

#eCommerce {
	background-color: orange;
}

#responsive {
	background-color: green;
}

#choose {
	margin: 5px auto;
}

/* Classes */

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.projectType {
	margin: 0 20px;
	height: 175px;
	width: 200px;
	text-align: center;
	padding-top: 85px;
}