body {
	font-family: Verdana, sans-serif;
	background-color: #fff;
	margin: 0;
}

header{
	height: 100px;
	background: -moz-linear-gradient(top, #ca6900, #0060ca);
	background: -webkit-linear-gradient(top, #ca6900, #0060ca);
	background: -o-linear-gradient(top, #ca6900, #0060ca);
	background: -ms-linear-gradient(top, #ca6900, #0060ca);
	background: linear-gradient(top, #ca6900, #0060ca);
	color: #fff;
	margin: 0 auto;
	padding: 5px 1%;
	font-size: 1.25em;

}

h1{
	font-family: 'Philosopher', sans-serif;
	margin: 0 auto;
	color: #000;
}

h2 {
	margin: 0;
	color: #000;
	line-height: .9em;
}

h3 {
	margin: 0 0 5px 0;
}

p {
	margin: 0;
	padding: 0;
}

span{
	font-weight: bold;
}

/* IDs */

#projectsDiv {
	margin: 20px auto;
	width: 100%;
}

/* classes */

.layout {
	width: 80%;
	margin: 0 auto;
}

.center {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.category {
	height: 40px;
	font-size: 1.35em;
	width: 95%;
	margin: 5px auto 0 auto;
	padding: 0 1%;
	background-color: #fff;
	background: -moz-linear-gradient(top, #ca6900, #65655F);
	background: -webkit-linear-gradient(top, #ca6900, #65655F);
	background: -o-linear-gradient(top, #ca6900, #65655F);
	background: -ms-linear-gradient(top, #ca6900, #65655F);
	background: linear-gradient(top, #ca6900, #65655F);
	border: 1px solid #000;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	text-align: center;
}

.project {
	background-color: #65655F;
	color: #000;
	width: 95%;
	height: 360px;
	margin: 0 auto 20px auto;
	padding: 0 1% 1% 1%;
	border: 1px solid #000;
	border-top: none;
}

.screenshot {
	height: 350px;
	width: 48%;
	background-color: #eee;
	padding: 5px 0;
	border-top-left-radius: 5px;
	border: 1px solid #000;
}

.screenshot img {
	width: 100%;
	height: 350px;
}

.description {
	height: 350px;
	width: 48%;
	background-color: #fff;
	padding: 5px 1%;
	border-top-right-radius: 5px;
	border: 1px solid #000;
}

.seeSite{
	text-align:center;
	margin-top: 10px;
}

.seeSite a{
	box-shadow: 5px 5px #000;
	border: 1px solid black;
	border-radius: 5px;
	text-decoration: none;
	background-color: #0060ca;
	color: #fff;
	font-size: 1.2em;
	padding: 5px;
}

	.seeSite a:hover{
		font-weight: bold;
		box-shadow: 0 0 5px 5px #000 inset;
	}